@import "tailwindcss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: transparent;
	-webkit-user-select: none;
	user-select: none;
	--wails-draggable: drag;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
